/* You can add global styles to this file, and also import other style files */
h1 {
    color: peru;
}
h2 {
    color: peru;
}
div {
    border-top: 2px solid red;
    margin-bottom: 3px;
}
p   {
    font-size: 19px;
}