<div>
    <h1>Data2 works!</h1>
    <button (click)="showEmail()">
        Alternate: Age | Email
    </button>
    <p>Hello, my name is: {{name}}</p>
    <p *ngIf="show">My age is: {{age}}</p>
    <p *ngIf="!show">My email is: {{objectExample.email}}</p>
    <button (click)="active()">
        Active for Event
    </button>
    <p>Exemplo de listas com o uso da diretiva de ngFor*</p>
    <ul>
        <li *ngFor="let people of peoples">
            Nome do Sujeito <strong>{{people.name}}</strong> e a idade do cidadao: <strong>{{people.age}}</strong>
        </li>
    </ul>
</div>