* {
    margin: 0;
    padding: 0;
}
html, body{
    background-color: #D3D3D3;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    height: 100%;
}
.all{
    display: grid;
    background-color: white;
    margin: auto;
    width: 1200px;
    height: 720px;
}
header > h1{
    color: black;
    text-align-last: center;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 38px;
}
.map{
    margin: auto;
    margin-top: 2%;
    width: 900px;
    height: 500px;
    border-radius: 2%;
    background-color: black;
}
div > #player1{
    position: absolute;
    top: 325px;
    left: 350px;
    width: 20px;
    height: 85px;
    border-radius: 8%;
    background-color:blue;
}
div > #player2{
    position: absolute;
    top: 325px;
    left: 1170px;
    width: 20px;
    height: 85px;
    border-radius: 8%;
    background-color:blue;
}
div > #square{
    position: relative;
    top: 220px;
    left: 442px;
    width: 20px;
    height: 20px;
    border-radius: 20%;
    background-color: red;
}
#initButton{
    margin-left: 47%;
    font-size: 18px;
    text-align: center;
    width: 85px;
    height: 45px;
    border-radius: 10%;
}